<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBarService" />
                <binding name="BasicHttpBinding_IFooService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:37841/FooService.Contracts.IFooService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFooService"
                contract="Foo.IFooService" name="BasicHttpBinding_IFooService" />
            <endpoint address="http://localhost:37841/FooService.Contracts.IBarService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBarService"
                contract="Bar.IBarService" name="BasicHttpBinding_IBarService" />
        </client>
    </system.serviceModel>
</configuration>